---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <!-- RESEARCH BAR -->
    <form class="form-inline text-center" style="padding-top:10px" role="form" method="get" action="addauction.php">
      <fieldset style="padding-top:50px">
        <!-- Search Name -->
        <div class="form-group">
          <label class="sr-only" for="item-name">Product Name</label>
          <input id="item-name" name="item-name" placeholder="Where?" class="form-control">
        </div>
        <!-- Search Category -->
        <div class="form-group">
          <label class="sr-only" for="item-category">Product Category</label>
          <select id="item-category" name="item-category" class="form-control">
            <option selected disabled hidden>Category</option>
            <?php
            $sql = 'SELECT * FROM Category';
            foreach ($db -> query($sql) as $row) { ?>
            <option value = "<?php echo $row['category_id']; ?>"><?php echo $row['category']; ?>MILF</option>
            <option value = "<?php echo $row['category_id']; ?>"><?php echo $row['category']; ?>GILF</option>
            <?php } ?>
          </select>
        </div>
        <!-- Search Auction -->
        <div class="form-group">
          <label class="sr-only" for="submit">Ready to Submit?</label>
          <button type="submit" class="btn btn-primary"><span
            class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </div>
        </fieldset>
      </form>
      <!-- END RESEARCH BAR -->
      <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    </div>
  </div>

  <div class="container" id="home-flats">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <% data.flats.each do |owner, flat| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
          <div class="card-category"><%= flat.city_name %></div>
          <div class="card-description">
            <h3><%= flat.name %></h3>
            <p><%= flat.description %></p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
          <%= link_to "", "flats/#{owner}.html", class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
